* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #090908;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}

.sp-text {
  background: conic-gradient(at top, #c084fc, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon{
  padding: 10px;
  font-size: 15px;
  border: 2px solid #bbb;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--secondary-bg);
  transition: all 0.3s ease;
}